* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
  display: flex;
  flex-direction: column;
    height: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F0F0F0;
  }
/* Menu*/
.container {
    margin: auto;
    max-width: 1100px;
  }
  .logo {
    float: left;
    margin-top: 20px;
    line-height: 65px;
  }
  
  .menu {
    text-align: center;
    float: right;
    line-height: 65px;
  }
  
  .estilomenu {
    position: fixed;
    background-color: #3a669b;
    width: 100%;
    height: 80px;
    top: 0;
  }
  
  .menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 0px 20px;
    display: block;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
  }
  
  .menu .submenu {
    display: none;
    background-color: #3a669b;
  }
  .menu .submenu li a {
    line-height: 50px;
  }
  
  .menu a:hover {
    background-color: #ffffff;
    color: #060606;
  }
  
  .menu li:hover > ul {
    display: block;
  }

  /* Footer*/
  footer {
    background: #202020;
    width: 100%;
    color: #ffffff;
    padding: 40px;
  }
  
  .container-footer-all {
    width: 100%;
    max-width: 1100px;
    margin: auto;
  }
  
  .container-body {
    display: flex;
    justify-content: space-between;
  }
  
  .colum1 {
    max-width: 600px;
  }
  
  .colum1 h1 {
    font-size: 22px;
  }
  
  .colum1 p {
    font-size: 14px;
    color: #c7c7c7c7;
    margin-top: 20px;
  }
  
  .colum2 {
    max-width: 600px;
  }
  
  .colum2 h1 {
    font-size: 22px;
  }
  
  .row2 {
    margin-top: 20px;
    display: flex;
  }
  
  .row2 img {
    width: 35px;
    height: 35px;
  }
  
  .row2 label {
    margin-top: 5px;
    margin-left: 20px;
    max-width: 300px;
  }

  /*Formulario de Contacto*/

  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 150px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #000000; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color:  #000000; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color:  #0090DD; 
    border-color:  #0090DD; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color:  #0090DD 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  .formulario h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #0069A1;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #0090DD;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #0090DD
    ;
  }
  
  /* ------- Redes Sociales-----------------*/

