body{
    background-image: url("/imagenes/backround3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin: 0;
}
 
#registrar{
        float:left;
        width:80%;
        font-size:24px;
        font-weight:bold;
        color:#FFF;
        text-align:right;
}
 
#envoltura{
     position:absolute;
    left:50%;
    top:50%;
    margin-left:-165px;
    margin-top: -210px;
    width: 350px;

 
}
 
#contenedor{
    background-color:#687CD6;
    
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,.8);
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
    border-radius:10px;
    

}
 
#cabecera{
    
    border-bottom: 5px solid #687CD6;
    padding-top: 5px;
    height:90px;
    line-height:50px;
    text-align:center;
}
 
#cuerpo{
    background:#ececec;
    border:solid #ccc;
    /*aumentando el 2px 'aparece' un borde*/
    border-width: 2px 0;
    padding:15px 35px;
}
 
label{
    color: #666;
    font-weight: bold
}
 
input{
    /*border: 1px solid #999; No usar esta línea y dejar box-shadow hace efecto de profundidad*/
    border-radius:5px; /*probar con 10px se hacen ovalados los inputs*/
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
    font:bold 12px Arial, Helvetica, sans-serif;
    height: 24px;
    line-height: 20px;
    padding:0 2px;
    width: 230px;
}
 

.boton{
    background: #687CD6;
    color: #FFF;
    width: 120px;
}
 

.boton:active{
    position: relative;
    top: 3px;
}
 
#pie{
    border-top: 5px solid #687CD6;
    color: #fff;
    font-size: 11px;
    height: 25px;
    line-height: 24px;
    text-align: center;
}
 
form,p{
    margin:0;
}
 
p{
    
    padding-bottom: 5px;
}

p#bot{
    padding-top: 10px;
}